venv/
notes*.md
__pycache__/

.env
internal/
*.log
*.code-workspace
settings.json
browserengines/
tests/data/datafiles.json
utils/datafiles.json
tests/data/dataverses.json
utils/dataverses.json
tests/data/datasets.json
utils/datasets.json
tests/data/metadata.json
utils/metadata.json
utils/tree.json
