[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = {version = "==1.8.2", extras = ["dotenv"]}
pyDataverse = "==0.3.1"
pytest-selenium = "2.0.1"
typer = "==0.3.2"
unknown = {editable = true, path = "."}

[dev-packages]
black = "==19.10b0"
mypy = "==0.790"
pre-commit = "*"
pylint = "*"
autopep8 = "*"
tox = "*"
twine = "*"
build = "*"
flake8 = "*"

flake8-builtins = "*"
flake8-breakpoint = "*"
flake8-bugbear = "*"
flake8-comprehensions = "*"
flake8-requirements = "*"
flake8-pytest-style = "*"

[requires]
